@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: transparent !important;
  height: 100%;
}
* {
  user-select: none;
}
kbd, pre, code {
  direction: ltr !important;
  border-radius: 5px;
}
.login {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
}
.login > img {
 width: 250px;
 height: auto !important; 
 filter: drop-shadow(0 0 12px #02020242);
}
.sidebar-link {
  display: flex !important;
}
.rtl {
  direction: rtl !important;
} 
.shape-mode {
  @apply absolute inset-0 mix-blend-hue pr-0.5 pt-0.5;
}
.timer {
  position: relative;
}
.timer > div {
  @apply pt-3 opacity-0 transition-all duration-300 absolute text-4xl bottom-[85px] text-white right-[165px] size-14 grid place-content-center ;
}
.timer > p {
  @apply pt-3 z-20 text-white opacity-0 transition-all duration-300 absolute text-5xl bottom-[85px]  right-[127px] text-center size-14 grid place-content-center;
}
.falsy {
  filter: hue-rotate(150deg)
}
.truthy {
  filter: hue-rotate(260deg);
}
.selected {
  filter: hue-rotate(190deg);
}
.option {
  @apply w-[160px] flex relative;
}
.option > p {
  @apply text-lg opacity-0 transition-opacity duration-100 absolute inset-0 pb-2 text-white w-full z-20 grid place-content-center;
}
.question {
  @apply relative;
}
.question > div {
  @apply grid px-6 pt-2 place-content-center inset-0 transition-opacity duration-100 absolute text-wrap text-white w-full;
}
.question > img {
  @apply object-contain;
}
.checked {
  font-variant-emoji: ;
}
.winner {
  @apply absolute opacity-0 text-lg z-10 text-black bottom-20 mb-1 w-full grid place-content-center ;
  bottom: 18%;
  font-size: 1.5rem;
  font-weight: bold;
}
main {
  max-height: calc(100vh - 117px);
  overflow-y: scroll;
}
 