@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Yekan;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sidebar-link{
  display: flex !important;
}

.rtl {
  direction: rtl !important;
}
.content-question {
  @apply opacity-0 transition-opacity duration-100 absolute inset-0 pb-2 text-white left-1/2 -translate-x-1/2 w-full z-10  text-xl grid place-content-center;
}
.shape-mode {
  @apply absolute inset-0 mix-blend-hue pr-0.5 pt-0.5;
}
.timer {
  @apply opacity-0 transition-all duration-300 absolute text-4xl bottom-[85px] text-white right-[165px] size-14 grid place-content-center ;
}
.falsy {
  filter: hue-rotate(150deg)
}
.truthy {
  filter: hue-rotate(260deg);
}
.selected {
  filter: hue-rotate(190deg);
}
.option-frame {
  @apply w-[160px] flex relative;
}
/* .checked {
  font-variant-emoji: ;
} */

/* .text-size {
  font-size: calc(1px + 1.2vw);
  max-font-size: 10px;
} */
.login {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 img {
  width: 200px;
  height: 200px !important; 
  aspect-ratio: 1/1 !important;
  filter: drop-shadow(0 0 12px #02020242);
 }
}
